.footer-bottom{
  background: #111;
  padding: 18px;
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  position: relative;
  width: 100%;
  float: left;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #898989;
}